USE [CORPORATIVA]
GO
/****** Object:  StoredProcedure [dbo].[PROCESOS_PRESUPUESTO]    Script Date: 04/22/2015 23:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- -------------------------------------------------------------------------------------------------------
--      PROCESOS PRESUPUESTO

ALTER PROCEDURE [dbo].[PROCESOS_PRESUPUESTO] 
	-- Add the parameters for the stored procedure here
	@BANDERA int,
	@VALOR VARCHAR(255),
	@VALOR1 VARCHAR(255),
	@VALOR2 VARCHAR(255),
	@VALOR3 VARCHAR(1000),
	@VALOR4 FLOAT,
	@VALOR5 FLOAT,
	@VALOR6 FLOAT,
	@VALOR7 FLOAT,
	@VALOR8 FLOAT,
	@VALOR9 FLOAT,
	@VALOR10 FLOAT,
	@VALOR11 FLOAT,
	@VALOR12 FLOAT,
	@VALOR13 FLOAT,
	@VALOR14 FLOAT,
	@VALOR15 FLOAT,
	@VALOR16 FLOAT,
	@VALOR17 FLOAT,
	@VALOR18 FLOAT,
	@VALOR19 FLOAT,
	@VALOR20 FLOAT,
	@VALOR21 FLOAT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
    --Declaración de variables internas
    DECLARE @ID_AÑO INT=NULL,
			@ESTADO INT=NULL,
			@CUENTA VARCHAR(20)=NULL
   
    ----------------------------------------------------------------
    --Verificar los roles de los usuarios
    ----------------------------------------------------------------
	IF @BANDERA = 1
	BEGIN
		SELECT RU_ROL FROM Rol_Usuario
		WHERE ru_usuario=@VALOR
	END
	------------------------------------------------------------------
	--Consulta de las equivalencias Presupuestales para Configuración y filtros de Informes 
    ------------------------------------------------------------------
    IF @BANDERA = 2
	BEGIN
	    SELECT @ID_AÑO=DATEPART(YEAR,GETDATE())+1
		IF EXISTS(SELECT AP_AÑO FROM AÑO_PRES WHERE AP_IDAÑO=@ID_AÑO)
		BEGIN
		 SELECT @ESTADO=1
		END
		ELSE
		BEGIN
		 INSERT INTO AÑO_PRES(AP_IDAÑO,AP_AÑO,AP_ESTADO)VALUES(@ID_AÑO,@ID_AÑO,0)
		 SELECT @ESTADO= 0
		END
		SELECT @ESTADO
	END
	IF @BANDERA=3
	BEGIN
	 SELECT MAX(AP_AÑO)APRES,AP_ESTADO from AÑO_PRES
     GROUP BY AP_ESTADO
	END
	IF @BANDERA=4
	BEGIN
	 SELECT TC_IDCUENTA,TC_DESCRIPCION from TIPO_CUENTA
	END
	IF @BANDERA=5
	BEGIN
	 IF  @VALOR7 = 0
	 BEGIN
	  SELECT CC_IDCUENTA,CC_DESCRIPCION FROM CUENTA_CONTABLE
	  WHERE CC_IDCUENTA LIKE CONVERT(VARCHAR,@VALOR6)+'%'
	 END
	 ELSE
	 BEGIN
	  SELECT CC_IDCUENTA,CC_DESCRIPCION FROM CUENTA_CONTABLE
	  WHERE CC_IDCUENTA LIKE CONVERT(VARCHAR,@VALOR6)+'%'
	  AND LEN(CC_IDCUENTA)=@VALOR7
	 END
	END
	IF @BANDERA=6
	BEGIN
	 SELECT EQ_ID,EQ_EQUIVALENCIA FROM EQUIVALENCIAS
	 WHERE EQ_ID LIKE CONVERT(VARCHAR,@VALOR6)+'%'
	END
	IF @BANDERA=7
	BEGIN
	 SELECT F_FID,F_FORMATO FROM FORMATOS
	END
	IF @BANDERA=8
	BEGIN
	 IF EXISTS(SELECT DC_ID FROM DEFINICION_CONCEPTOS WHERE DC_ID=@VALOR6)
	 BEGIN
	  UPDATE DEFINICION_CONCEPTOS SET 
	  DC_CONCEPTO=@VALOR,
	  DC_TIPOEQ=@VALOR7,
	  DC_FORMATO=@VALOR8
	  WHERE DC_ID=@VALOR6
	 END
	 ELSE
	 BEGIN
	  INSERT INTO DEFINICION_CONCEPTOS(DC_ID,DC_CONCEPTO,DC_TIPOEQ,DC_FORMATO)VALUES(@VALOR6,@VALOR,@VALOR7,@VALOR8)
	 END
	END
	IF @BANDERA=9
	BEGIN
	 SELECT 
	 DC_ID,DC_CONCEPTO,DC_TIPOEQ,DC_FORMATO
	 FROM DEFINICION_CONCEPTOS
	 WHERE DC_ID LIKE CONVERT(VARCHAR,@VALOR6)+'%'
	END
	IF @BANDERA=10
	BEGIN
	 DELETE FROM DEFINICION_CONCEPTOS WHERE DC_ID=@VALOR6
	END
	IF @BANDERA=11
	BEGIN
	 IF @VALOR6<>0
	 BEGIN
	  SELECT DC_ID,CASE	DC_ID
		WHEN 1 THEN 'ACTIVO'
		WHEN 2 THEN 'PASIVO'
		WHEN 3 THEN 'PATRIMONIO'
		WHEN 4 THEN 'INGRESOS'
		ELSE 'GASTOS' END CUENTA   
      FROM		
      (SELECT SUBSTRING(CONVERT(VARCHAR,DC_ID),1,1)DC_ID,DC_FORMATO
       FROM DEFINICION_CONCEPTOS
      --WHERE DC_FORMATO<>3 AND DP_FORMATO<>100
       GROUP BY DC_FORMATO,SUBSTRING(CONVERT(VARCHAR,DC_ID),1,1))CUENTAS
       WHERE DC_FORMATO=@VALOR6
      END 
     ELSE
     BEGIN
      SELECT DC_ID,CASE	DC_ID
		WHEN 1 THEN 'ACTIVO'
		WHEN 2 THEN 'PASIVO'
		WHEN 3 THEN 'PATRIMONIO'
		WHEN 4 THEN 'INGRESOS'
		ELSE 'GASTOS' END CUENTA   
      FROM		
      (SELECT SUBSTRING(CONVERT(VARCHAR,DC_ID),1,1)DC_ID,DC_FORMATO
       FROM DEFINICION_CONCEPTOS
      --WHERE DC_FORMATO<>3 AND DP_FORMATO<>100
       GROUP BY DC_FORMATO,SUBSTRING(CONVERT(VARCHAR,DC_ID),1,1))CUENTAS
     END
	END
	IF @BANDERA=12
	BEGIN
	 SELECT DC_ID,DC_CONCEPTO FROM DEFINICION_CONCEPTOS
	 WHERE DC_FORMATO=@VALOR6
	 AND DC_ID LIKE CONVERT(VARCHAR,@VALOR7)+'%'
	END
	IF @BANDERA=13
	BEGIN
	 SELECT CC_CID,CC_CENTROCOSTO FROM CENTRO_DE_COSTO
	END
	IF @BANDERA=14
	BEGIN
	 IF EXISTS(SELECT AP_ID,AP_CENTROCOSTO,AP_AÑO,AP_USUARIO 
		          FROM AUXILIAR_PRESUPUESTO
		          WHERE AP_ID=@VALOR4 AND
		                AP_CENTROCOSTO=@VALOR5 AND
		                AP_AÑO=@VALOR18 AND
		                AP_USUARIO=@VALOR)
		BEGIN
		 UPDATE AUXILIAR_PRESUPUESTO SET 
		 AP_ENERO=@VALOR6,
		 AP_FEBRERO=@VALOR7,
		 AP_MARZO=@VALOR8,
		 AP_ABRIL=@VALOR9,
		 AP_MAYO=@VALOR10,
		 AP_JUNIO=@VALOR11,
		 AP_JULIO=@VALOR12,
		 AP_AGOSTO=@VALOR13,
		 AP_SEPTIEMBRE=@VALOR14,
		 AP_OCTUBRE=@VALOR15,
		 AP_NOVIEMBRE=@VALOR16,
		 AP_DICIEMBRE=@VALOR17
		 WHERE AP_ID=@VALOR4 AND
		       AP_CENTROCOSTO=@VALOR5 AND
		       AP_AÑO=@VALOR18 AND
		       AP_USUARIO=@VALOR
		END
		ELSE
		BEGIN
		 INSERT INTO AUXILIAR_PRESUPUESTO
		 (AP_ID,AP_CENTROCOSTO,AP_AÑO,AP_USUARIO,AP_ENERO,AP_FEBRERO,AP_MARZO,AP_ABRIL,AP_MAYO,AP_JUNIO,AP_JULIO,AP_AGOSTO,AP_SEPTIEMBRE,AP_OCTUBRE,AP_NOVIEMBRE,AP_DICIEMBRE)
		 VALUES
		 (@VALOR4,@VALOR5,@VALOR18,@VALOR,@VALOR6,@VALOR7,@VALOR8,@VALOR9,@VALOR10,@VALOR11,@VALOR12,@VALOR13,@VALOR14,@VALOR15,@VALOR16,@VALOR17)
		END
	END
	IF @BANDERA=15
	BEGIN
	 SELECT 
	 AP_ID,AP_CENTROCOSTO,AP_USUARIO,AP_ENERO,AP_FEBRERO,AP_MARZO,AP_ABRIL,AP_MAYO,
	 AP_JUNIO,AP_JULIO,AP_AGOSTO,AP_SEPTIEMBRE,AP_OCTUBRE,AP_NOVIEMBRE,AP_DICIEMBRE
	 FROM AUXILIAR_PRESUPUESTO LEFT JOIN
	 DEFINICION_CONCEPTOS
	 ON(AP_ID=DC_ID)
	 WHERE AP_AÑO=@VALOR4
	 AND DC_FORMATO=@VALOR6
	 AND AP_ID LIKE CONVERT(VARCHAR,@VALOR7)+'%'
	 AND AP_USUARIO=@VALOR
	END
	IF @BANDERA=16
	BEGIN
	SELECT 
	 AP_ID,DC_CONCEPTO,CC_CENTROCOSTO,AP_ENERO,AP_FEBRERO,AP_MARZO,AP_ABRIL,AP_MAYO,
	 AP_JUNIO,AP_JULIO,AP_AGOSTO,AP_SEPTIEMBRE,AP_OCTUBRE,AP_NOVIEMBRE,AP_DICIEMBRE
	FROM AUXILIAR_PRESUPUESTO LEFT JOIN
	 DEFINICION_CONCEPTOS
	 ON(AP_ID=DC_ID)
	 LEFT JOIN CENTRO_DE_COSTO
	 ON(AP_CENTROCOSTO=CC_CID)
	WHERE AP_AÑO=@VALOR4
	 AND AP_USUARIO=@VALOR
	END
	IF @BANDERA=17
	BEGIN
	 SELECT 
	 AP_ID,AP_CENTROCOSTO,AP_USUARIO,AP_ENERO,AP_FEBRERO,AP_MARZO,AP_ABRIL,AP_MAYO,
	 AP_JUNIO,AP_JULIO,AP_AGOSTO,AP_SEPTIEMBRE,AP_OCTUBRE,AP_NOVIEMBRE,AP_DICIEMBRE
	 FROM AUXILIAR_PRESUPUESTO LEFT JOIN
	 DEFINICION_CONCEPTOS
	 ON(AP_ID=DC_ID)
	 WHERE AP_AÑO=@VALOR4
	 AND AP_ID LIKE CONVERT(VARCHAR,@VALOR7)+'%'
	END
	IF @BANDERA=18
	BEGIN
	 SELECT DC_ID,DC_CONCEPTO FROM DEFINICION_CONCEPTOS
	 WHERE DC_ID LIKE CONVERT(VARCHAR,@VALOR7)+'%'
	END
	IF @BANDERA=19
	BEGIN
	 UPDATE AÑO_PRES
	 SET AP_ESTADO=@VALOR
	 WHERE AP_AÑO=@VALOR4
	END
	
END



